<template>
  <a-layout-footer :style="{ textAlign: 'center', background: '#fff', borderRadius: '8px', margin: '16px', boxShadow: '0 2px 8px rgba(0, 0, 0, 0.15)' }">
    <a-typography-text type="secondary" :style="{ fontSize: '12px' }">
      MIT Licensed | Copyright © 薩斯 Sass
    </a-typography-text>
  </a-layout-footer>
</template>